@{
    ViewData["Title"] = "Recipe Index";
}


    <h1>@Model.FoundRecipe.Name</h1>

<ul>
    @foreach (var ingredient in Model.FoundRecipe.Ingredients.Split(','))
    {
    <li>@ingredient</li>
    }
</ul>

<ul>
    
    @foreach (var method in Model.FoundRecipe.GetMethods())
    {
        <li>@method.Step</li>
    }
    
    <li>@Model.FoundRecipe.Rating</li>

</ul>

@foreach (var tags in Model.FoundRecipe.GetTags())
{
    <p>@tags.Name</p>
}