@{
    ViewData["Title"] = "Recipe Index";
}

<ul>
    <li>@Model.FoundRecipe.Name</li>
    
    <li>@Model.FoundRecipe.Ingredients</li>

    @foreach (var method in Model.FoundRecipe.GetMethods())
    {
        <li>@method.Step</li>
    }
    
    <li>@Model.FoundRecipe.Rating</li>

</ul>

@foreach (var tags in Model.FoundRecipe.GetTags())
{
    <p>@tags.Name</p>
}