@{
    ViewData["Title"] = "Recipe Index";
}


    <h1>@Model.FoundRecipe.Name</h1>

<ul>
    @foreach (var ingredient in Model.FoundRecipe.Ingredients.Split(','))
    {
    <li>@ingredient</li>
    }
</ul>

<ul>
    
    @foreach (var method in Model.FoundRecipe.GetMethods())
    {
        <li>@method.Step</li>
    }

</ul>


@Html.Partial("_Stars")


 <form action="/recipes/@Model.FoundRecipe.Id/rate" method="POST">
  <select name="rate">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  <button type="submit">Rate Recipe</button>
</form>

 <form action="/recipes/@Model.FoundRecipe.Id/delete" method="POST">
        <button type="submit">Delete Recipe</button>
 </form>



@foreach (var tags in Model.FoundRecipe.GetTags())
{
    <p>@tags.Name</p>
}